<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system"
    android:versionCode="6"
    android:versionName="2.13.2.0"
    package="com.android.supl"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="SUPL20Services"
        android:name="com.android.supl.SuplApplication"
        android:persistent="true"
        android:allowBackup="false">
    </application>

</manifest>