src/gnss_supl20service_hisi/supl20/src-out/*
src/gnss_supl20service_hisi/supl20-new/app-debug.apk
src/gnss_supl20service_hisi/supl20-new/apk-out/*
src/gnss_supl20service_hisi/gnss_supl20service_hisi.zip-CFR.zip
src/gnss_supl20service_hisi/gnss_supl20service_hisi.zip-fernflower.zip
src/gnss_supl20service_hisi/supl20-new/apk-out/smali/*
src/gnss_supl20service_hisi/supl20/gnss_supl20service_hisi_signed.apk
src/gnss_supl20service_hisi/supl20/recompiled.apk
sdk26/*
sdk27/*
sdk30/*
src/gnss_supl20service_hisi/supl20/PRA/apk-out/*
src/gnss_supl20service_hisi/supl20/PRA/src-out/*
src/gnss_supl20service_hisi/supl20/WAS/apk-out/*
src/gnss_supl20service_hisi/supl20/WAS/src-out/*
