sdk26/*
sdk27/*
sdk30/*
src/gnss_supl20service_hisi/supl20-new/apk-out/*
src/gnss_supl20service_hisi/supl20/PRA/apk-out/*
src/gnss_supl20service_hisi/supl20/PRA/src-out/*
src/gnss_supl20service_hisi/supl20/WAS/apk-out/*
src/gnss_supl20service_hisi/supl20/WAS/src-out/*
src/gnss_supl20service_hisi/supl20/FIG/apk-out/*
src/gnss_supl20service_hisi/supl20/FIG/src-out/*