<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="6" android:versionName="2.13.2.3" android:compileSdkVersion="27" android:compileSdkVersionCodename="P" package="com.android.supl" platformBuildVersionCode="27" platformBuildVersionName="P"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="SUPL20Services" android:name="com.android.supl.SuplApplication" android:persistent="true" android:debuggable="false" android:allowBackup="false">
        <service android:name="com.android.supl.loc.SUPLPlatformService" android:enabled="true" android:exported="false" />
        <service android:name="com.android.supl.commprocessor.SUPLSCMService" android:enabled="true" android:exported="false" />
        <receiver android:name="com.android.supl.receiver.ShutdownReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.supl.loc.SETLocationManager$NetworkStateBroadcastReceiver" />
    </application>
    <permission android:name="supl20servicePermission" android:protectionLevel="signatureOrSystem" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
</manifest>