on init
	mount none /dev/null /vendor/etc/init/vendor.huawei.hardware.hwdisplay.displayengine@1.0-service.rc bind
	
service dpeservice system/bin/displayengineserver
    class main
    user graphics
    group graphics system sdcard_rw
	disabled
	
on property:init.svc.displayengine-hal-1-0=*
    start dpeservice

	